.permissions {
    padding: 1rem;

    .heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .table td {
        vertical-align: middle;
    }

    input[type="text"] {
        margin-bottom: 0;
    }

    .permissions-list {
        margin: 0 0 1rem 0;
        
        .row {
            align-items: center;
            margin: 0;

            &:nth-of-type(odd) {
                background-color: rgba(0,0,0,0.05);
            }
        }
    }

    .column {
        padding: .75rem;

        &.centered {
            text-align: center;
        }
    }

    .head {
        font-weight: bold;
        margin: 0;
    }
}