# must be always utf-8
AddDefaultCharset UTF-8

# adding options
Options -Indexes
Options +FollowSymLinks
Options -MultiViews

# hiding all packages files
<Files ~ "(.tpl|composer.json|composer.lock|composer.phar|Gruntfile.js|package.json)">
    Order allow,deny
    Deny from all
    Require all denied
</Files>

# Rewritting rules
RewriteEngine On
RewriteBase /

# Ignoring specific folders for css, js and uploads like image
RewriteRule ^web/static/? - [L]
RewriteRule ^cms/static/? - [L]
RewriteRule ^web/uploads/? - [L]

# Updates folder (specific for cms, for now still required, will be moved to Themages API)
RewriteRule ^updates/? - [L]

# Specific rewrite rules for themages.net, can be removed
RewriteRule ^admin/updates/CHANGELOG.txt /updates/CHANGELOG.txt [QSA,L]
RewriteRule ^log.php https://api.themages.net/log.php [R=301,L]

RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d

# fetching all links params in one variable and breaking it down in index.php
RewriteRule (.*) /index.php?params=$1 [L]