html {
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: $font;
    background-color: $bgColor;
    min-width: 320px;
    width: 100%;
}

.logo-wrapper {
    display: flex;
    align-content: center;
    justify-content: center;

    .logo-circle {
        border: 1px solid $main-color;
        border-radius: 50%;
        padding: 1rem;
        background-color: #fff;
    }

    .logo {
        width: 10rem;
        height: 10rem;
        background-image: url("#{$images}/logo.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.v-btn.button {
    padding: 1.5rem 4rem;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: #fff;
    min-width: 14.1rem;
    align-self: right;
}

h2 {
    color: #eee;
}

.v-form.block {
    padding: 1rem;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 8px 8px 8px 0px rgba(90, 90, 90, 0.75);
}

// Vuetify overrides
.v-content {
    .v-content__wrap {
        background-image: linear-gradient(to right, rgba(#1f2d3d, 0.75) 0%, rgba(#1f2d3d, 0.75) 100%), url("#{$images}/tree.png");
        background-position: 0 100%;
        background-repeat: no-repeat;
    }

    .v-list__tile--active {
        background-color: rgba(0, 0, 0, 0.5);

        .v-list__tile__title {
            color: #fff !important;
        }
    }

    .theme--light.v-navigation-drawer {
        background-color: $main-color;
    }

    .v-card__actions {
        justify-content: flex-end;
    }
}