.header-component {
    padding: 0;
    background-color: $mainColor;
    width: 100%;
    height: 100%;
    box-shadow: 0 1px 2px rgba(0,0,0,.6);
    visibility: visible;
    transition: .5s;

    .logo {
        margin: 0;
        display: block;
        width: 15%;
        height: 60px;
        position: relative;
        background-repeat: no-repeat;
        background-position: center;

        @include media-breakpoint-down(sm) {
            background-size: cover;
        }

        img {
            position: absolute;
            width: 113px;
            height: 80px;
            transition: .5s;
        }
    }

    .multi-brand {
        display: none;
    }

    .burger {
        display: none;

        .open & {
            visibility: hidden;
        }
        
        @media (max-width: 768px) {
            display: block;
            float: left;
            color: #fff;
            margin: 0 10px;
            transition: .5s;
            line-height: 60px;
            cursor: pointer;
            font-size: 1.5rem;

            &.active {
                transform: rotate(90deg);
            }
        }
    }
}