/* Reset like things */
img,p,td{border: 0;margin: 0;padding: 0;}
a{text-decoration: none;color: #1697e1;transition: .5s;}
a:hover{color: #555; }
.clear {clear:both;}
.fright {float:right;}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Open Sans;
}