/* $left-side-border-color: rgba(255, 255, 255, 0.3);
$left-side-border: 2px solid $left-side-border-color;

.left-side {
    width: 15%;
    font-size: 1rem;
    transition: .5s;

    @include media-breakpoint-down(sm) {
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;

        .open & {
            z-index: 2;
        }
    }

    &.collapsed {
        width: 3em;
        
        nav {
            width: 3em;
        }

        .side-menu-cover {
            width: calc(100% - 3em);
        }
    }
    
    nav {
        background-color: $mainColor;
        height: 100%;
        z-index: 50;
        transition: .5s;
        transform: translate(0, 0);

        @include media-breakpoint-down(sm) {
            width: 45%;
            transform: translate(-100%, 0);
            overflow-y: auto;
        }

        .open & {
            display: block;
            transform: translate(0, 0);
        }
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .nav-link {
        position: relative;

        > a {
            white-space: nowrap;
            color: #ddd;
            display: block;
            padding: 1em;
            font-size: 0.9em;
            overflow: hidden;
            text-overflow: ellipsis;
            border-left: 3px solid transparent;

            &.collapsed {
                text-overflow: initial;

                span {
                    display: none;
                }
            }

            i {
                padding-right: 0.3em;
            }

            &:hover {
                background-color: rgba(0, 0, 0, 0.15);
                color: #fff;
            }

            &.router-link-active {
                background-color: $left-side-border-color;
                color: #fff;
                border-left: 3px solid #E4C812;
            }
        }

        &:hover .nav-sub {
            display: block;
        }
    }

    .nav-sub {
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        transform: translateX(100%);
        border: $left-side-border;
        background-color: $mainColor;

        @include media-breakpoint-down(sm) {
            position: initial;
            display: initial;
            transform: initial;
        }

        &:before,
        &:after {
            right: 100%;
            top: 1.5em;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }

        &:before {
            border-right-color: $left-side-border-color;
            border-width: 1em;
            margin-top: -1em;
        }

        .fa-angle-right {
            display: none;
            padding-right: 0.5em;

            @include media-breakpoint-down(sm) {
                display: inline-block;
            }
        }
    }

    .side-menu-cover {
        position: fixed;
        top: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.80);
        width: 55%;
        height: 100%;
        z-index: 50;
        transition: .5s;
        transform: translate(100%, 0);
        display: none;

        @include media-breakpoint-down(sm) {
            display: block;
        }

        .open & {
            transform: translate(0%, 0);
        }
    }

    .burger-closer {
        z-index: 51;
        font-size: 1.5rem;
        margin: 0 10px;
        line-height: 60px;
        color: #fff;
    }
    
    .collapser {
        @include media-breakpoint-down(sm) {
            display: none;
        }
    }
} */