.permissions {
    padding: 1rem;

    .permissions-table {
        background-color: #fff;
        color: rgba(0, 0, 0, 0.87);
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        &.center {
            justify-content: center;
        }

        &.head {
            .column {
                padding: 2.4rem;
                color: rgba(0, 0, 0, 0.54);
                font-size: 1.2rem;
            }
        }

        .column {
            padding: 0 2.4rem;
            font-size: 1.3rem;
            margin: 0;

            &.page-name {
                width: 30%;
            }

            &.level {
                width: 10%;
            }

            &.icon-classes {
                width: 25%;
            }

            &.key {
                width: 15%;
            }

            &.actions {
                width: 20%;
                display: flex;

                > div {
                    padding-top: 1.5rem;
                    padding-right: 0.5rem;
                    
                    > i {
                        font-size: 3rem;
                        cursor: pointer;

                        &:hover {
                            color: #000;
                        }
                    }
                }
            }

            &.ghost {
                height: 0;
                padding: 0;
            }
        }
    }

    .subpermissions-list {
        width: 100%;
        background-color: #fff;
        color: rgba(0, 0, 0, 0.87);

        &.drag-on {
            min-height: 1em;
        }

        .column {
            &.subkey {
                width: 5%;

                > i {
                    padding-top: 1.5rem;
                }
            }

            &.page-name {
                width: 25%;
            }
        }
    }

    .head,
    .permissions-list {
        min-width: 830px;
    }
}