.dashboard {
    padding: 1rem;

    .block {
        padding: 1rem;
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: 8px 8px 8px 0px rgba(90, 90, 90, 0.75);
    }

    .btn-primary {
        width: 100%;
    }
}